@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Playfair+Display:wght@200;500&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: #F1F1F1 url('/images/graph-bg.svg') no-repeat;
    background-position: 0 20%;
    background-size: 150%;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-align: center;
}

h1,
.quote {
    font-family: 'Playfair Display', serif;
}

.phone {
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
    margin: auto;
    width: 250px;
}

.wrapper {
    padding: .5em;
    margin-top: 4em;
    position: relative;
}

ul {
    list-style: none;
    padding: 0;
}

.left,
.right {
    position: relative;
}

.left {
    height: 50vh;
    display: grid;
    place-content: center;
}

h1 {
    width: 70%;
    margin: 0 auto 1.5em;
}

.cta {
    text-decoration: none;
    background: #1DB473;
    color: white;
    font-weight: bold;
    padding: 1em;
    border-radius: .3em;
}

.right {
    margin-top: 12em;
}

.right ul {
    width: 80%;
    margin: 0 auto 2em;
}

li {
    margin-bottom: 2em;
}

li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media (min-width: 400px) {
    .phone {
        width: 280px;
        right: -10%;
    }
  
    .quote {
        margin:0;
    }

    .left {
        height: 80vh;
    }
    .inner-content {
        text-align: start ;
        height: 40vh;
        padding-left: 1rem;
    }
    h1 {
        width: 90%;
        margin-left: 0;
    }
    .right{
        width: 80%;
        margin: 1rem auto;
        margin-top: 7rem;
    }

}

@media (min-width: 850px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        place-content: center;
    }
    .left {
        width: 100%;
        height: 100vh;
        text-align: start;
    }
    .inner-content {
        padding-left: 10%;
        margin-top: -10rem;
    }
    h1 {
        width: 100%;
    }
    .right {
        width: 100%;
        height: 50vh;
        padding: 2rem 0;
        margin-top: 1rem;
    }
    .right ul {
        width: 65%;  
    }
        .right ul li {
            display: flex;
            align-items: center;
            background: #e3dfdf;
            padding: 1rem;
            gap: 1rem;
        }
    .right ul li div{
        text-align: start;
    }
    .quote {
        width: 100%;
        margin: 0.5rem;
        margin-top: 0;
    }
    .auth {
        padding-left: 0.5rem;
        margin-bottom: 0;
    }
    .right ul li:nth-of-type(2) {
        margin-left: 4rem;
        margin-right: -4rem;
    }
    .phone {
        width: 280px;
        top: 10%;
        right: 58%;
    }
}

@media (min-width: 1200px) {
    .inner-content {
        padding-left: 15rem;
        margin-top: -10rem;
    }
    .phone {
        width: 300px;
        top: 7%;
        right: 45%;
    }
}